# Dependencies
node_modules/
.pnp
.pnp.js

# Testing
coverage/

# Production build
build/

# Misc
.DS_Store

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment files (DO NOT PUSH)
.env
.env.*
backend/.env
frontend/.env
